html,
body {
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: 33% repeat(auto-fit, minmax(100px, 1fr));
  height: 100vh;
}

.menu-area {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  padding: 8px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-area {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: white;
}
