html,
body {
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: 20% 30% repeat(auto-fit, minmax(100px, 1fr));
  height: 100vh;
}

.menu-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-area {
  margin: 10vh 0;
  padding: 8px;
  background-color: black;
  max-height: 100vh;
  overflow: auto;
}

.log-area > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.canvas-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: white;
}
